html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.3vw;
}
a {
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
}
a,
a:hover,
a:focus,
a:active {
  color: black;
}
.app {
  width: 100%;
}
.nav-bar {
  text-align: center;
  padding: 5% 30% 2% 30%;
  display: flex;
  justify-content: space-between;
}
.flex {
  display: flex;
}
.about > div {
  margin: 0 5%;
}
.about-text {
  width: 65%;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.border {
  border-radius: 8px;
  border: 0.2vw solid black;
}
.profile-picture {
  width: 100%;
}
.icon-container {
  display: flex;
  justify-content: space-evenly;
}
.media-icon {
  width: 2vw;
}
.container {
  margin: 0 5%;
}
.title-image-wrapper {
  text-align: center;
  margin-right: 5%;
}
.image {
  width: 20vw;
}
.project-wrapper {
  margin-bottom: 5%;
  padding: 0 2%;
}
figure {
  display: inline-block;
  margin: 0;
  text-align: center;
}
figure > img {
  width: 4vw;
}
figure > figcaption {
  color: transparent;
  font-size: 0.6vw;
  font-weight: bold;
  transition: color 0.555s ease-out;
}
figure > img:hover + figcaption {
  color: black;
}
@media (max-width: 500px) {
  body {
    font-size: 4.4vw;
  }
  .nav-bar {
    padding: 10% 5% 10% 5%;
  }
  .flex {
    flex-direction: column;
  }
  .image {
    width: 90%;
  }
  .media-icon {
    width: 10vw;
  }
  .icon-container {
    margin: 5% 0;
  }
  .about-text {
    width: 86%;
  }
  figure > img {
    width: 12vw;
  }
  figure > figcaption {
    font-size: 2vw;
  }
}
